<app-navbar></app-navbar>
<div class="jumbotron text-center ">
    <div class="display-4">About Us</div>
    <p class="lead">This is simple about page</p>
</div>
<div class="container">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam nemo optio error earum deserunt illum
        distinctio, qui modi commodi quod. Quidem, consequatur ea unde laborum neque, amet hic, placeat dolorem
        laudantium totam maiores assumenda mollitia quas. Vitae cumque dolores velit nihil modi at, error perspiciatis
        similique labore illum maiores, neque soluta esse deserunt tempora porro nostrum. Aut quas reiciendis
        perferendis, corporis enim repellat architecto deleniti? Harum commodi voluptatem fugit officiis saepe ab
        suscipit laborum hic, vero eaque a maxime modi ea. Nulla voluptas et explicabo placeat. Reiciendis esse totam,
        dolore in at hic. Sit quasi sunt molestias, voluptates nam laudantium?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, dicta recusandae. Placeat dolore sint sunt eum
        autem quae eaque esse est totam soluta, libero ullam laudantium? Ducimus distinctio eaque iste culpa inventore
        minus odit possimus incidunt quo totam repudiandae, cum provident itaque aliquam odio error, quas ea doloremque
        veniam? Labore nulla tenetur praesentium autem ullam debitis, sed ex ad illo aliquam beatae optio provident
        officia excepturi quis cumque cum suscipit inventore molestias consectetur facilis. Ipsum deleniti ipsam officia
        cum, a doloribus mollitia libero neque earum maxime minus suscipit delectus accusamus consequatur eius
        cupiditate perferendis voluptas officiis quibusdam, consectetur quisquam ab.
    </p>
</div>